@import '../../style-config/mixins.scss';
@import '../../style-config/variable.scss';

.skills-content-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    @include small-screen{
        flex-direction: row;
    }
    .left-col{
        width:85% ;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @include small-screen{  
          width: 60%;
        }
        img{
            width: 100%;
            max-width: 453px;
            display: block;
        }
    }
    .right-col{
        width: 100%;
        color: $white;
        // margin-left: 70px;
        text-align: center;
        margin-top: 25px;
        @include small-screen{   
            margin-left: 70px;
            width: 60%;
            text-align: left;
            margin-top: 0;
        }
        h2{
            margin-bottom: 10px;
            // margin-right: 60px;
            @include small-screen{  
                margin-bottom: 30px;
            }
        }
        p{
           @include typography(10px, 400, 24px);
           margin-bottom:15px;
           margin-right: 10px;
           @include small-screen{   
            @include typography(14px, 400, 20px);
           }
        }
        .CallToAction{
            margin: 5px auto;
            margin-left: 40px;
            @include small-screen{
                margin: 0;
            }
        }
    }
}